.text-overlay {
    position: absolute !important; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* Cor do texto */
    font-size: 24px;
    /* Tamanho da fonte */
}
.carousel-image {
    max-width: 100%; /* ou qualquer valor desejado */
    height: auto;
    padding: 10px;
  }
  